@tailwind base;
@tailwind components;
@tailwind utilities;

@import "colors";
@import "vars";
* {
  box-sizing: border-box;
  // font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 0;
  margin: 0;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}
a {
  text-decoration: none !important;
}
p {
  margin: 0;
}
button {
  cursor: pointer;
}

/****************************Home style *******************************/
// Navbar
.navbar {
  box-shadow: 1px 1px 5px $main-color;
  margin-bottom: 10px;
  padding: 0 !important;
  .container {
    display: flex;
    justify-content: space-evenly !important;
    h1.goods {
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 0.5px;
      margin: 0;
      color: $main-color;
      span {
        color: $sec-color;
      }
    }
    a.whats {
      display: block;
      svg {
        font-size: 35px;
        color: #24cc63;
        margin-right: 10px;
        transition: all 0.1s ease-in-out;
        &:hover {
          color: $sec-color;
        }
      }
    }
  }
}

.under-developing {
  background-color: #004243;
  padding: 5px 0;
  color: #fff;
  font-weight: 400;
  text-align: center;
}

// Form
.main,
.result {
  .container {
    margin-top: 50px;
    padding: 0 10px;
    width: 50%;
    @media (max-width: $small) {
      margin-top: 30px;
      width: 100%;
    }
    .validation-error {
      display: flex;
      justify-content: center;
      text-align: center;
      height: fit-content;
      h3 {
        color: red;
      }
    }
    form {
      width: 100%;
      text-align: center;
      margin-top: 20px;
      div.box {
        // max-width: 60%;
        margin: 0 auto 50px auto !important;
        @media (max-width: $small) {
          max-width: 80%;
        }
        input[type="text"] {
          text-align: right;
          background-color: #fff;
          padding: 10px 20px;
          font-size: 20px;
        }

        .form-check-input:checked {
          background-color: $main-color;
          border-color: $main-color;
        }
        .input-group-text {
          padding: 10px 15px;
          input {
            cursor: pointer;
            font-size: 18px;
          }
        }
      }

      .wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        .right-msg,
        .wrong-msg {
          display: block;
          font-size: 15px;
          font-weight: 400;
          padding: 5px 8px;
          .sign {
            display: inline-block;
          }
        }
        .right-msg {
          background-color: green;
          color: #fff;
        }
        .wrong-msg {
          background-color: red;
          color: #fff;
        }
        .radio-group {
          direction: rtl;
          margin: 0px 0 30px 0;
          display: block;
          width: 100%;
          .radio-label {
            display: inline-block;
            width: 100%;
            text-align: right;
            margin-right: 45px;
          }
          .radio-options {
            display: flex;
            justify-content: flex-start;
            margin-right: 30px;
          }
          .option {
            display: flex;
            align-self: flex-start;
          }
          label {
            font-size: 22px;
            font-weight: 600;
            color: black;
          }
          label.right_answer {
            .css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked {
              color: green;
            }
          }
          .css-ahj2mt-MuiTypography-root {
            font-size: 19px;
          }
          .radio-div {
            color: $main-color;
          }

          .radio-div input:checked + span {
            color: $sec-color !important;
          }
          .selected {
            .css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked {
              color: red;
            }
          }
        }
      }

      .btn {
        background-color: $main-color !important;
        color: #fff;
        font-weight: bold;
        padding: 5px 20px 10px 20px;
        font-size: 20px;
        margin-bottom: 20px;
        letter-spacing: 0.5px;
        &:hover {
          color: $sec-color;
        }
      }
    }
  }
}

/****************************Login style *******************************/
.login,
.register {
  margin-top: 30px;
  .wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 0 30px;
    margin: 0 auto;
    max-width: 70%;
    background-color: #fff;
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    @media (max-width: $small) {
      max-width: 90%;
    }
    .logoimg {
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: $small) {
        display: none;
      }
    }

    .info {
      padding: 40px 0 30px 25px;
      flex: 1;
      border-left: 1px solid $sec-color;
      .header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        h2 {
          font-weight: 600;
          font-size: 26px;
          color: $main-color;
        }
      }
      @media (max-width: $small) {
        padding-left: 0;
        border-left: none;
      }

      .css-r47a1p-MuiFormControl-root {
        width: 100%;
        margin: 0 !important;
      }
      .success-msg,
      .error-msg {
        text-align: center;
        display: block;
        margin: -20px 0 20px 0;
      }
      .success-msg {
        color: green;
      }
      .error-msg {
        color: red;
      }

      // Field input
      .input-div {
        width: 100% !important;
        label {
          color: $main-color;
        }
        fieldset {
          border-color: $sec-color;
        }

        input:focus {
          border-color: $sec-color !important;
          color: $main-color !important;
        }
        &:not(:first-of-type) {
          margin-top: 25px !important;
        }
      }

      // Password input
      .password-div {
        width: 100% !important;
        margin-top: 25px !important;
        label {
          color: $main-color;
        }
        fieldset {
          border-color: $sec-color;
        }
      }

      // Eye
      svg {
        color: $main-color;
      }
    }

    label.error {
      display: inline-block;
      font-size: 13px;
      padding-left: 10px;
      color: red;
      text-align: center;
      transition: all 0.2s ease-in-out;
      // &:not(:last-of-type) {
      //   margin-bottom: 20px;
      // }
    }

    .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input:focus {
      color: $main-color;
    }

    .btn {
      background-color: $main-color;
      color: #fff;
      font-weight: 400;
      padding: 15px;
      width: 100%;
      font-size: 18px;
      letter-spacing: 0.5px;
      margin-top: 25px;
      transition: all 0.1s ease-in-out;
      &:hover {
        background-color: $sec-color;
      }
    }

    .footer {
      p.member {
        a {
          display: inline-block;
          margin-top: 25px;
          color: $sec-color;
          transition: all 0.1s ease-in-out;
          &:hover {
            color: $main-color;
          }
        }
      }
    }
  }
  .logoimg {
    flex: 1;
  }
}
