@tailwind base;
@tailwind components;
@tailwind utilities;

@import "colors";
@import "vars";
* {
  box-sizing: border-box;
  // font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 0;
  margin: 0;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}
a {
  text-decoration: none !important;
}
p {
  margin: 0;
}
button {
  cursor: pointer;
}

/****************************Home style *******************************/
//navbar
.navbar {
  box-shadow: 1px 1px 5px $main-color;
  margin-bottom: 10px;
  padding: 0 !important;
  .container {
    display: flex;
    justify-content: space-evenly !important;
    h1.goods {
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 0.5px;
      margin: 0;
      color: $main-color;
      span {
        color: $sec-color;
      }
    }
    a.whats {
      display: block;
      svg {
        font-size: 35px;
        color: #24cc63;
        margin-right: 10px;
        transition: all 0.1s ease-in-out;
        &:hover {
          color: $sec-color;
        }
      }
    }
  }
}
//form
.main, .result {
  .container {
    display: flex;
    justify-content: center;
    text-align: center;
    form {
      width: 100%;
      text-align: center;
      margin-top: 50px;
      div.box {
        max-width: 60%;
        margin: 0 auto 50px auto !important;
        @media (max-width: $small) {
          max-width: 80%;
        }
        input[type="text"] {
          text-align: right;
          background-color: #fff;
          padding: 10px 20px;
          font-size: 20px;
        }

        .form-check-input:checked {
          background-color: $main-color;
          border-color: $main-color;
        }
        .input-group-text {
          padding: 10px 15px;
          input {
            cursor: pointer;
          }
          
        }
      }

      .wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        .right-msg, .wrong-msg{
          display: block;
          font-size: 15px;
          font-weight: 400;
          padding: 5px 8px;
          .sign{
            display: inline-block;
          }
        }
        .right-msg{
          background-color: green;
          color: #fff;
        }
        .wrong-msg{
          background-color: red;
          color: #fff;
        }
        .radio-group {
          direction: rtl;
          margin: 0px 0 30px 0;
          display: block;
          label {
            font-size: 22px;
            font-weight: 600;
            color: black;
          }
          label.right_answer{
            .css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked{
              color: green;
            }
          }
          .css-ahj2mt-MuiTypography-root {
            font-size: 19px;
          }
          .css-vqmohf-MuiButtonBase-root-MuiRadio-root {
            color: $main-color;
          }
          .css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked {
            color: $sec-color;
          }
          .selected{
            .css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked*-دجحخهعغفقثصض  ض {
              color: red;
            }
          }


        }
      }

      .btn {
        background-color: $main-color !important;
        color: #fff;
        font-weight: bold;
        padding: 5px 20px 10px 20px;
        font-size: 20px;
        letter-spacing: 0.5px;
        &:hover {
          color: $sec-color;
        }
      }

      // snake bar
      .go1453831412 {
        @media (max-width: $small) {
          bottom: 80px;
        }
      }
      .go167266335 {
        justify-content: center;
        background-color: $sec-color;
        font-size: 18px;
      }
    }
  }
}


/****************************Login style *******************************/
.login,
.register {
  margin-top: 30px;
  .wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 0 30px;
    margin: 0 auto;
    max-width: 70%;
    background-color: #fff;
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    @media (max-width: $small) {
      max-width: 90%;
    }
    .logoimg {
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: $small) {
        display: none;
      }
    }
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 50px;
      h2 {
        font-weight: 600;
        font-size: 26px;
        margin-left: 10px;
      }
    }
    .info {
      padding: 40px 0 30px 25px;
      flex: 1;
      border-left: 1px solid $sec-color;
      @media (max-width: $small) {
        padding-left: 0;
        border-left: none;
      }

      .css-r47a1p-MuiFormControl-root{
        width: 100%;
        margin: 0 !important;
      }
      .success-msg, .error-msg{
        text-align: center;
        display: block;
        margin: -20px 0 20px 0;
        letter-spacing: 1.25px;
      }
      .success-msg{
        color: green;
      }
      .error-msg{
        color: red;
      }
      //inputs
      .css-1u3bzj6-MuiFormControl-root-MuiTextField-root{ //field input
        width: 100% !important;
        &:not(:first-of-type){
          margin-top: 25px;
        }
      }
      .css-1nrlq1o-MuiFormControl-root { //password input
        width: 100% !important;
        margin-top: 25px;
      }

      //label
      .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root,
      .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused,
      .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
        color: $main-color;
      }
      label.error{
        display: inline-block;
        font-size: 13px;
        padding-left: 10px;
        color: red;
        transition: all 0.2s ease-in-out;
        // &:not(:last-of-type){
        //   margin-bottom: 20px;
        // }
      }

      .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
        border-color: rgb(219, 219, 219);
      }

      //border:focus
      .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused
        .MuiOutlinedInput-notchedOutline,
      .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused
        .MuiOutlinedInput-notchedOutline {
        border-color: $sec-color;
      }
      .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input:focus {
        color: $main-color;
      }

      //eye
      .css-i4bv87-MuiSvgIcon-root {
        color: $main-color;
      }
      .btn {
        background-color: $main-color;
        color: #fff;
        font-weight: 400;
        padding: 15px;
        width: 100%;
        font-size: 18px;
        letter-spacing: 0.5px;
        margin-top: 25px;
        transition: all 0.1s ease-in-out;
        &:hover {
          background-color: $sec-color;
        }
      }

      .footer {
        .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root:hover {
          background-color: #f5f5f5;
        }
        p.member {
          a {
            display: inline-block;
            margin-top: 25px;
            color: $sec-color;
            transition: all 0.1s ease-in-out;
            &:hover {
              color: $main-color;
            }
          }
        }
      }
    }
    .logoimg {
      flex: 1;
    }
  }
}
